.header {
  display: flex;
  gap: var(--spacing-6);
}

.headerText {
  flex: 1;
  margin-left: var(--spacing-7);
  color: #3c42bd;
}

.nav {
  display: flex;
}

.navItem {
  display: inline-block;
  padding: var(--spacing-6) var(--spacing-7);
  cursor: pointer;

  &:active,
  &:hover {
    background-color: rgba($color: #000000, $alpha: .05);
  }

  &::after {
    position: relative;
    left: 50%;
    display: block;
    width: 0;
    height: 2px;
    content: '';
    background-color: var(--background-color-button-invert);
    transition: width .3s ease-in-out;
    transform: translateX(-50%);
  }

  &:hover::after,
  &:active::after {
    width: 100%;
  }
}

.platformWrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin-left: var(--spacing-7);

  & > :nth-child(3) {
    grid-column: 3/6;
  }
}

.platformItem {
  font-size: var(--smallRegular-font-size);
  font-weight: var(--smallRegular-font-weight);
  line-height: var(--smallRegular-line-height);
  border-bottom: 1px solid #b3b3b3;
}
