.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-7);
  align-items: center;
  width: 200px;
  padding: 0 var(--spacing-10);

  p {
    font-size: var(--smallRegular-font-size);
    font-weight: var(--smallRegular-font-weight);
    line-height: var(--smallRegular-line-height);
  }

  a {
    text-decoration-line: underline;

    &:hover {
      color: rgb(255, 0, 0);
    }
  }
}
.flag {
  position: absolute;
  top: 1px;
  right: 1px;

  button {
    background: none;
    border: none;
  }
}

.notFavorite {
  path {
    stroke: rgb(252, 180, 0);
    fill: var(--background-color);
  }
}

.favorite {
  & > svg path {
    fill: rgb(252, 180, 0);
  }
  justify-self: center;
}

.text {
  max-width: 396px;
  align-self: center;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;

  img {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
}

.button {
  padding: 10px 16px;
  background-color: var(--background-color-button-invert);
  color: var(--font-color-invert);
  justify-self: center;
}
