@import '/src/styles/shared/breakpoints.scss';

.profile {
  @include breakpoint(xs) {
    padding: 10px 30px;
  }
  position: relative;
  gap: var(--spacing-8);
  font-size: var(--normalBold-font-size);
  font-weight: var(--normalBold-font-weight);

  &.open {
    @include breakpoint(xl) {
      width: 250px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 210px;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  text-align: center;
  background-color: var(--background-color-bright);
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  align-items: center;
  padding: var(--spacing-9);
  padding-right: var(--spacing-3);
  padding-left: var(--spacing-3);
  background-color: #f5f5f5;
  border-radius: 5px;
}

.email {
  font-size: var(--normalBold-font-size);
  font-weight: var(--normalBold-font-weight);
  text-transform: capitalize;

  &:hover {
    color: var(--font-color-hover);
    cursor: pointer;
  }
}

.link {
  color: var(--font-color-base);

  &:visited {
    color: var(--font-color-base);
  }

  &:hover {
    color: var(--font-color-hover);
  }
}

.button {
  font-family: var(--normalBold-font-family);
  font-size: var(--normalBold-font-size);
  font-weight: var(--normalBold-font-weight);
  background-color: inherit;
  border: none;

  &:hover {
    color: var(--font-color-hover);
  }
}
