@import '/src/styles/shared/breakpoints.scss';

.profile {
  position: relative;
  display: flex;
  gap: var(--spacing-8);
  align-items: center;
  font-size: var(--normalBold-font-size);
  font-weight: var(--normalBold-font-weight);
  @include breakpoint(xs) {
    padding: 10px 30px;
  }
}

.icon {
  padding: var(--spacing-8);
  padding-right: var(--spacing-7);
  padding-left: var(--spacing-7);
  text-align: center;
  background-color: var(--background-color-bright);
  border-radius: 100%;

  &:hover {
    cursor: pointer;
  }
}

.dropdown {
  position: absolute;
  top: var(--spacing-5);
  right: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  align-items: center;
  padding: var(--spacing-9);
  padding-right: var(--spacing-3);
  padding-left: var(--spacing-3);
  background-color: #f5f5f5;
  border-radius: 5px;
}

.email {
  font-size: var(--normalBold-font-size);
  font-weight: var(--normalBold-font-weight);

  &:hover {
    color: var(--font-color-hover);
    cursor: pointer;
  }
}

.link {
  color: var(--font-color-base);

  &:visited {
    color: var(--font-color-base);
  }

  &:hover {
    color: var(--font-color-hover);
  }
}

.button {
  font-family: var(--normalBold-font-family);
  font-size: var(--normalBold-font-size);
  font-weight: var(--normalBold-font-weight);
  background-color: inherit;
  border: none;

  &:hover {
    color: var(--font-color-hover);
  }
}
