@import '../../styles/shared/breakpoints.scss';

.main {
  position: relative;
  min-height: 100vh;
}

.bg {
  @include breakpoint(lg) {
    display: block;
  }
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 50%;
  height: 100%;
  background: left / cover no-repeat url('./assets/images/background.png');
}

.wrapper {
  @include breakpoint(lg) {
    flex-direction: row;
  }
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: var(--max-width);
  min-height: 100vh;
}

.auth {
  @include breakpoint(lg) {
    flex-basis: 50%;
    align-items: center;
  }
  display: flex;
  flex-basis: 100%;
  align-items: flex-start;
  justify-content: center;
}

.aboutWrapper {
  @include breakpoint(lg) {
    flex-basis: 50%;
    padding-left: var(--spacing-1);
  }
  display: flex;
  width: 100%;

  // height: 100%;
  padding: var(--spacing-6);
  padding-left: var(--spacing-7);
}

.about {
  position: relative;
}

.aboutContent {
  @include breakpoint(lg) {
    display: flex;
  }
  display: none;
  flex-direction: column;
  gap: var(--spacing-4);
  justify-content: center;
  min-height: 100%;
}


.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.socialList {
  display: flex;
  gap: var(--spacing-4);

  svg {
    width: var(--spacing-2);
    height: var(--spacing-2);
  }
}
