.wrapper {
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin-left: var(--spacing-7);

  & > :nth-child(3) {
    grid-column: 3/5;
  }
}

.item {
  font-size: var(--smallRegular-font-size);
  font-weight: var(--smallRegular-font-weight);
  line-height: var(--smallRegular-line-height);
  border-bottom: 1px solid #b3b3b3;
}
