@import '/src/styles/shared/breakpoints.scss';

.menu {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__nav {
    @include breakpoint(md) {
      display: flex;
      flex: 1;
      align-items: center;
      padding: 0;
    }
    flex-direction: row;
  }
}

.buttonsWrapper {
  @include breakpoint(lg) {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-8);
    padding: 0;
  }
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-7);
}

ul {
  @include breakpoint(md) {
    flex-direction: row;
  }
  display: flex;
  flex-direction: column;
}

li {
  @include breakpoint(xs) {
    // padding: 16px;
  }
}

.links {
  padding: 0 15px;
  font-size: var(--normalBold-font-size);
  font-style: normal;
  font-weight: var(--largeRegular-font-weight);
  line-height: var(--normalRegular-line-height);
  color: var(--font-color-base);
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    color: var(--font-color-hover);
    cursor: pointer;
  }
}

.enter {
  @include breakpoint(md) {
    margin: 15px var(--spacing-7);
  }

  @include breakpoint(xs) {
    margin: 15px var(--spacing-7);
  }
  gap: var(--spacing-8);
  align-items: center;
  width: 105px;
  height: 56px;
  padding: var(--spacing-7) var(--spacing-5);
  font-size: var(--normalBold-font-size);
  font-style: normal;
  font-weight: var(--largeRegular-font-weight);
  line-height: var(--normalRegular-line-height);
  color: var(--font-color-base);
  background-color: var(--background-color-base);
  border: 1px solid var(--font-color-base);

  &:active,
  &:hover {
    color: var(--font-color-hover);
    cursor: pointer;
    border: 1px solid var(--font-color-hover);
  }

  &:disabled {
    color: var(--font-color-disabled);
    border: 1px solid var(--font-color-disabled);
  }
}

.registration {
  @include breakpoint(xs) {
    margin: 15px var(--spacing-7);
  }
  gap: var(--spacing-8);
  align-items: center;
  width: 172px;
  height: 56px;
  padding: var(--spacing-7) var(--spacing-5);
  font-size: var(--normalBold-font-size);
  font-style: normal;
  font-weight: var(--largeRegular-font-weight);
  line-height: var(--normalRegular-line-height);
  color: var(--font-color-invert);
  background-color: var(--font-color-base);
  border: none;

  &:hover {
    cursor: pointer;
    background: var(--font-color-hover);
  }

  &:disabled {
    background: var(--font-color-disabled);
  }
}
