.wrapper {
  display: flex;

  & > div {
    flex: 1;
  }
}

.registration {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  align-items: start;
  justify-content: center;
  padding: var(--spacing-6);
  padding-left: var(--spacing-1);
  background: center / cover no-repeat url('./assets/images/background.png');
}

.socialList {
  display: flex;
  gap: var(--spacing-4);

  svg {
    width: var(--spacing-2);
    height: var(--spacing-2);
  }
}
