@import '/src/styles/shared/breakpoints.scss';

.header {
  @include breakpoint(md) {
    margin: var(--spacing-7) 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img {
    @include breakpoint(xs) {
      padding: var(--spacing-7) 0;
    }
  }
}
