@import '/src/styles/shared/breakpoints.scss';

.header {
  @include breakpoint(md) {
    margin: 16px 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img {
    @include breakpoint(xs) {
      padding: 16px 0;
    }
    margin-right: 50px;
  }
}
