ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 h2 {
  margin: 0;
}

a {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  padding: 46.5px 100px;
  margin: auto;
}

.footer_container_left {
  margin-top: 102.5px;
}

.social_block__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  color: #000000;
}

.social_block__container {
  display: flex;
  gap: 23px;
  padding: 0;
  margin-top: 31.67px;
}

.right_info_container {
  display: flex;
  gap: 184.5px;
}

.info_container__titles {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: #000000;
}

.info_container__ul {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-top: 33px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 95px;
  padding: 5px;
  margin-top: 32.73px;
  border: 1px solid #000000;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
  position: absolute;
  display: none;
  padding: 3px;
}

.dropbtn {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  color: #3d3d3d;
  background: url('../../assets/icons/footer_language.svg') no-repeat left center;

  &::after {
    position: absolute;
    top: 2px;
    right: 1px;
    width: 16px;
    height: 16px;
    content: '';
    background: rgba(0, 0, 0, 0) url('../../assets/icons/footer_arrow-drop-down.svg') no-repeat scroll center center;
  }
}

.dropdown_content a:first-child {
  background: url('../../assets/icons/footer_language.svg') no-repeat left center;

  :last-child {
    background: url('../../assets/icons/footer_language.svg') no-repeat left center;
  }
}


/* Links inside the dropdown */
.dropdown_content a {
  display: block;
  padding: 2px 0 2px 20px;
  margin-top: 5px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  color: #3d3d3d;
  text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content {
  display: block;
}
