@import '/src/styles/shared/breakpoints.scss';

.wrapper {
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  display: grid;
  grid-template:
    'nav header' auto
    'nav main' 1fr / auto 1fr;
  width: 100%;
  max-width: var(--max-width);
  min-height: 100vh;
  border: 1px var(--border-color-grid) solid;
}

.main {
  grid-area: main;
  padding: var(--spacing-5) var(--spacing-1);
}

.header {
  display: flex;
  grid-area: header;
  gap: var(--spacing-6);
  align-items: center;
  justify-content: flex-end;
  padding: var(--spacing-7) var(--spacing-1);
}
