.opportunitySection {
  display: flex;
  justify-content: center;
  padding-bottom: var(--spacing-3);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  padding: 0 var(--spacing-7);
}

.opportunityCard {
  display: flex;
  justify-content: center;
}

.opportunityCardImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.opportunityCardImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.opportunityCardInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.opportunityCardInfo h2 {
  font-size: var(--H4-font-size);
  font-weight: var(--H4-font-weight);
  line-height: var(--H4-line-height);
  text-transform: uppercase;
}

.opportunityCardInfo p {
  font-size: var(--normalRegular-font-size);
  font-weight: var(--normalRegular-font-weight);
  line-height: var(--normalRegular-line-height);
}

@media (max-width: 980px) {
  .opportunityCard {
    flex-direction: column;
  }

  .opportunityCardImage {
    order: 1;
  }

  .opportunityCardInfo {
    text-align: center;
  }
}
