@import '/src/styles/shared/breakpoints.scss';

.main {
  display: flex;
  justify-content: center;
}

.wrapper {
  @include breakpoint(lg) {
    width: 870px;
  }

  @include breakpoint(xl) {
    width: 1170px;
  }
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
  width: 100%;
  max-width: var(--max-width);
  padding: 0 var(--spacing-7);
  margin: 0 auto;
}
